<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Mailaddress:</b>
  <%= @user.mailaddress %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Back number:</b>
  <%= @user.back_number %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
